<div class="container mx-auto my-5">
    <h4>Sobre nós</h4>
    <hr>
    <div class="content row d-flex justify-content-center align-items-center">
        <div class="col-lg-6 p-3 m-auto p-3">
            <h5>A sp.com é uma cafeteria que vai além do café. </h5>
            <p>
                Nascemos com a ideia de unir três paixões que movimentam São Paulo: o café, a arte e a cultura urbana. Mais do que uma cafeteria, somos um espaço de convivência criativa, onde cada detalhe foi pensado para inspirar. Nosso ambiente funciona como uma galeria viva, com exposições rotativas de artistas independentes, projetos visuais, lançamentos e intervenções culturais que refletem o espírito da cidade.
            </p>
            <p>
                Além do café de qualidade, oferecemos uma curadoria especial de obras de arte e um merch exclusivo que celebra o design, a originalidade e a cena urbana paulistana. Acreditamos no poder das conexões autênticas e queremos ser palco para encontros, ideias e expressões criativas.
            </p>
            <p>
                Aqui, cada xícara vem acompanhada de inspiração, criatividade e atitude.
            </p>
        </div>
        <div class="col-lg-6 m-auto justify-content-center p-3">
            <img class="img-fluid w-75 w-lg-50 p-3" src="foto01.jpg" alt="">
        </div>
    </div>
    <div class="content row d-flex justify-content-center ">
        <div class="col-lg-6 m-auto justify-content-center p-3">
            <img class="img-fluid w-75 w-lg-50 p-3" src="foto02.jpg" alt="">
        </div>
        <div class="col-lg-6 m-auto justify-content-center p-3 pt-5">
            <h5>Recentes</h5>
            <h5>Exposição: Cidade Impressa – Intervenções Gráficas no Asfalto</h5>
            <p>
                De cartazes colados às pressas a placas improvisadas, da tipografia das fachadas antigas aos stencils nas esquinas: Cidade Impressa mergulha no design gráfico espontâneo que dá cara — e alma — às ruas de São Paulo.
            </p>
            <p>
                A exposição reuniu trabalhos de designers, fotógrafos e artistas visuais que documentam, reinterpretam e se inspiram na estética crua e autêntica da cidade. Com pôsteres, colagens, instalações e painéis tipográficos, o espaço da sp.com se transformou em uma extensão da rua, revelando como o design gráfico urbano comunica, protesta e resiste.
            </p>
            <p>
                Cidade Impressa é um convite a enxergar beleza no caos e reconhecer o grafismo anônimo que forma a identidade visual das grandes cidades.
            </p>
        </div>
    </div>
</div>
