<div class="container container-fluid px-3 px-md-5 py-3">
    <div class="title mx-4 mt-5 d-flex">
        <h4 class="px-2">busca por: </h4>
        <h4 class="palavra-chave">{{termoBusca}}</h4>
    </div>
    <hr>
    <div class=" row d-flex align-items-center justify-content-between px-3 px-md-5 py-3">
        <div class="col-lg-6 col-sm-12 d-flex">
        </div>
        <div class="col-lg-6 col-sm-12 d-flex">
            <p class="filtro-busca m-2">Ordenar por:</p>
            <a href="./busca" class="btn btn-sm btn-outline-dark m-1 px-3">Preço</a>
            <a href="./busca" class="btn btn-sm btn-outline-dark m-1 px-3">Popularidade</a>
            <a href="./busca" class="btn btn-sm btn-outline-dark m-1 px-3">Avaliação</a>
        </div>
    </div>
    <div class="row m-2" >
        <div class="col-lg-4 col-sm-12" *ngFor="let obj of resultados">
            <div class="card m-auto my-2" style="width: 380px;">
                <img class="card-img-top rounded w-50 mx-auto img-fluid my-2" src="{{obj.imagem}}" alt="">
                <div class="card-body">
                    <h5 class="card-title">{{obj.nome}}</h5>
                    <p class="card-text">{{obj.descritivo}}</p> <br>
                    <p class="class-text"> R$ {{obj.valor}}</p> <br>
                    <a class="btn btn-dark" *ngIf="obj.quantidade>0" (click)="abrirDetalhe(obj);" >Mais detalhes</a>
                    <a class="btn btn-dark disabled" *ngIf="obj.quantidade==0" (click)="carregar(obj);" >Indisponível</a>
                </div>
            </div>
        </div>
    </div>
</div>
