@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

div {
    background-color: white;
    border-radius: 24px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px 10px 20px;
}

.content {
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
}

.input-group {
    padding: 12px;
    align-items: end;
}

.form-control {
    font-family: 'Josefin Sans', 'Helvetica', sans-serif;
    color: #323232;
    width: 400px;
    flex: 0 0 auto;
    padding: 0px;
}

.form-label {
    margin-bottom: 0;
    height: fit-content;
}

.form-check-input {
    font-family: 'Josefin Sans', 'Helvetica', sans-serif;
    height: 20px;
    width: 24px;
    margin-right: 20px;
    box-sizing: border-box
}

.important {
    font-weight: bold;
}

h4 {
    font-family: 'Josefin Sans', 'Helvetica', sans-serif;
    font-size: 24px;
    font-weight: bold;
}

input, select, textarea {
    border: none;
    border-bottom: 2px solid black;
    color: black;
    width: 300px;
}

label {
    font-family: 'Josefin Sans', 'Helvetica', sans-serif;
    width: 100px;
    text-align: right;
    padding-right: 12px;
}

span {
    font-family: 'Josefin Sans', 'Helvetica', sans-serif;
}

a {
    width: 200px;
    height: 48px;
    border: 0;
    font-family: 'Josefin Sans', 'Helvetica', sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding: 12px;
    margin-left: 12px 0px 24px 24px;

}

a:hover {
    background-color: #ffffff;
    color: #000000;
    border: solid #000000 3px;
}

@media screen and (orientation: portrait) {
    div {
        width: 100%;
        margin: 0;
    }
    label {
        width: 80%;
        text-align: left;
    }
    #auto-mesg {
        width: 40px;
    }
}