<div class="container">
    <div class="row d-flex justify-content-center gap-24 align-items-center pt-5">
        <div class="tem-cadastro col-lg-4 col-sm-12">
            <h4>Login</h4>
            <form action="" class="form-group">
                <label for="" class="form-label">Email: </label>
                <input type="email" name="" id="email-login" required class="form-control"> <br>
                <label for="" class="form-label">Senha: </label>
                <input type="password" name="" id="senha-login" required class="form-control"> <br>
                <div class="buttons d-flex justify-content-end">
                    <a href="" class="btn btn-secondary m-2">Esqueci minha senha</a>
                    <a href="./" class="btn btn-dark m-2">Acessar</a> <br>
                </div>
            </form>
        </div>
        <div class="vr d-none d-sm-block pt-5 mx-5" style="height: 460px; width: 2px; color: black; padding: 0;"></div>
        <hr class="d-block d-sm-none m-5" style="width: 80%;">
        <div class="novo-cadastro col-lg-4 col-sm-12">
            <h4>Ainda não tenho cadastro.</h4>
            <p>Se cadastre hoje e se torne um fã!</p>
            <div class="d-flex justify-content-right">
                <a href="./cadastro-cliente" class="btn btn-dark mt-2">Clique Aqui</a>
            </div>
        </div>
    </div>
</div>