<div class="container">
    <h5>Cesta</h5>
    <hr>
    <div class="row">
        <div class="col-lg-6">
            <p>Item</p>
        </div>
        <div class="col-lg-3">
            <p>Quantidade</p>
        </div>
        <div class="col-lg-3">
            <p>Valor</p>
        </div>
        <div class="row" >
            <div class="col-lg-6">
                <p>Item</p>
            </div>
            <div class="col-lg-3">
                <p>Quantidade</p>
            </div>
            <div class="col-lg-3">
                <p>Valor</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-4 col-sm-12" >
                <h4 class=""></h4>
                <p class="t"></p> <br>
                <p class=""></p> <br>
                <a href="" class="">Excluir</a>
            </div>
        </div>
    </div>
</div>
