@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

div.container {
    font-family: 'Josefin Sans', 'Helvetica', sans-serif;
}

.img-produto {
    width: 100px;
}

.produto-preco {
    font-weight: bold;
}

#delete-item {
    width: 24px;
    height: 24px;
}