<div class="container m-4">
    <div class="d-flex align-items-start justify-content-right">
        <a href="" class="icon"><img src="ArrowLeft.svg" alt=""></a>
        <h4>Produto</h4>
    </div>
    <div class="detalhe-produto row">
        <div class="col-lg-6">
            <img src="" alt="">
        </div>
        <div class="col-lg-6">
            <h4>Título</h4>
            <p>Descritivo</p>
            <div class="d-flex justify-content-between">
                <h4>Preço</h4>
                <a href="" class="btn btn-dark m-1 p-3">COMPRAR</a>
            </div>
        </div>
    </div>
</div>
