@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

div.container {
    font-family: 'Josefin Sans', 'Helvetica', sans-serif;
}

.btn-sm {
    display: flex;
    border-radius: 42px;
    text-align: center;
    vertical-align: middle;
}