<div class="container mx-auto my-4">
    <div class="banner">
        <div class="principal">
            <img src="banner.png" alt="" class="img-fluid">
        </div>
    </div>
    <hr>
    <div class="title">
        <h4>Destaques</h4>
    </div>
    <div class="d-flex align-items-center justify-content-left">
        <p class="m-2">Categorias:</p>
        <a href="" class="btn btn-sm btn-dark m-1 px-3">Geral</a>
        <a href=""class="btn btn-sm btn-outline-dark m-1 px-3">Galeria e Arte</a>
        <a href=""class="btn btn-sm btn-outline-dark m-1 px-3">Cafés</a>
    </div>
    <div class="row m-2" >
        {{mensagem}}
        <div class="col-lg-4 col-sm-12" *ngFor="let produto of lista">
            <div class="card m-auto my-2" style="width: 380px;">
                <img class="card-img-top rounded w-50 mx-auto img-fluid my-2" src="{{produto.imagem}}" alt="">
                <div class="card-body">
                    <h5 class="card-title">{{produto.nome}}</h5>
                    <p class="card-text">{{produto.descritivo}}</p> <br>
                    <p class="class-text"> R$ {{produto.valor}}</p> <br>
                    <a
                        class="btn btn-dark"
                        [routerLink]="['/detalhe', produto.codigo]"
                        [class.disabled]="produto.quantidade == 0"
                        (click)="carregar(produto)">
                        {{ produto.quantidade == 0 ? 'Indisponível' : 'Ver Detalhes' }}
                        </a>    
                </div>
            </div>
        </div>
    </div>
</div>
